{{ define "main" }}
    <h1 style="margin-bottom: .5rem;">{{ .Site.Params.title }}</h1>
    <div>
        <a class="link" href="{{ .Site.Data.links.twitter }}">
            twitter
        </a>
        <a class="link" href="{{ .Site.Data.links.discord }}">
            discord
        </a>
        <a class="link" href="{{ .Site.Data.links.instagram }}">
            instagram
        </a>
        <a class="link" href="{{ .Site.Data.links.github }}">
            github
        </a>
        <a class="link" href="/posts/">
            posts
        </a>
    </div>
    {{ .Content }}
{{ end }}