<footer class="w-full px-4 py-4 mt-auto border-t-[1px] flex justify-between items-center text-sm border-gray-600">
    <div class="[&_a:not(:last-child)]:mr-2 md:[&_a:not(:last-child)]:mr-0.5 lg:[&_a:not(:last-child)]:mr-2">
        <a class="link" href="{{ .Site.Data.links.twitter }}">
            twitter
        </a>
        <a class="link" href="{{ .Site.Data.links.discord }}">
            discord
        </a>
        <a class="link" href="{{ .Site.Data.links.instagram }}">
            instagram
        </a>
        <a class="link" href="{{ .Site.Data.links.github }}">
            github
        </a>
    </div>
    <a class="link" href="{{ .Site.Data.links.repo }}">
        <i class="fa-solid fa-flask"></i>
    </a>
</footer>